h1{
    text-align: center;
}

.title,
.balance {
    font-family: "Courier New", monospace;
}
  
.mytable {
    font-family: "Courier New", monospace;
    width:90%; 
    margin-left:auto;
    margin-right:auto;
}


.mytable td{
    border: 2px solid #ddd;
    padding: 8px;
    text-align: center;
}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #2E2B2C;
    color: white;
}
